.vscode
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# deployed site usual dir
site/

# directory for cloning cargo-cross and building MacOS Docker image
cross/
