* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  background-color: rgb(36, 34, 34);
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.rounded-corners {
  border-radius: 5px;
}

.clear-corners {
  border: 2px solid rgb(63, 63, 63);
}

#content {
  display: flex;
  flex-direction: row;
}

.row-sep {
  min-width: 10px;
  max-width: 10px;
}

.column-sep {
  min-height: 10px;
  max-height: 10px;
}

nav {
  padding: 5px;
  margin-bottom: 10px;
}

#editor {
  min-width: 360px;
  width: 800px;
  max-width: calc(100vw - 390px);
  resize: horizontal;
}

#right-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#results {
  height: 600px;
  min-width: 360px;
  min-height: 250px;
  max-height: calc(100vh - 350px);
  resize: vertical;
}

#input {
  min-height: 250px;
  flex: 1;
}


.button {
  border: 1px solid rgb(61, 61, 61);
  height: 40px;
  padding: 0 15px;
  font-size: 100%;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background-color: rgb(102, 94, 94);
}

.button:hover {
  background-color: rgb(133, 124, 124);
}

.button:active {
  background-color: rgb(170, 157, 157);
}

nav button svg {
  margin-left: 5px;
}
