* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 120%;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: underline;
  color: #2e2459;
}

a:hover {
  text-decoration: underline;
}

nav {
  height: 60px;
  width: 100%;

  padding-right: 15px;

  background-color: rgb(247, 248, 255);

  width: 100%;
  display: flex;
  flex-direction: row;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  z-index: 0;
}

.identifier {
  width: 100%;
  margin-left: 20px;
}

.nav-item {
  margin: 10px;
}

header {
  background-color: rgb(247, 248, 255);
  padding: 40px;
}

.centered-box {
  width: 100%;
  max-width: 1000px;
}

section {
  padding: 40px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #2a3439;
  color: white;
  font-family: monospace;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.centering {
  align-items: center;
  justify-content: center;
}

section div {
  gap: 25px;
}

#features {
  background-color: #0e816e;
  color: white;
}

#using {
  background-color: rgb(247, 248, 255);
}

#contributing {
  background-color: #2e2459;
  color: white;
}

#contributing a {
  color: white;
  text-decoration: underline;
}

@media (width <= 700px) {
  .row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
