* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 120%;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}

ul {
  list-style-type: none;
}

nav {
  height: 100px;
  width: 100%;

  border: 10px;
  border-top: 0px;
  padding-right: 20px;

  background-color: antiquewhite;
}

.identifier {
  width: 100%;
  margin-left: 20px;
}

.nav-item {
  margin: 10px;
}

header {
  /* padding-left: 100px;
  padding-right: 100px; */
  background-color: antiquewhite;
  padding-top: 30px;
  padding-bottom: 30px;
}

.centered-box {
  width: 100%;
  max-width: 1000px;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.centering {
  align-items: center;
}

section div {
  gap: 25px;
}

#features {
  background-color: rgb(179, 179, 189);
}

#using {
  background-color: antiquewhite;
}

#contributing {
  background-color: rgb(179, 179, 189);
}
