name: CI
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable]
        target:
          - x86_64-unknown-linux-gnu
          # - x86_64-apple-darwin
          # - aarch64-apple-darwin
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            cargo-tool: cargo
          # - os: macos-13 # intel
          #   target: x86_64-apple-darwin
          #   cargo-tool: cargo
          # - os: macos-latest # aarch64
          #   target: aarch64-apple-darwin
          #   cargo-tool: cargo
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
          target: ${{ matrix.target }}

      - name: Run tests
        working-directory: ./core
        run: make test
  
  bench:
    name: benchmark
    runs-on: ${{ matrix.os }}
    timeout-minutes: 25
    strategy:
      matrix:
        toolchain: [stable]
        target:
          - x86_64-unknown-linux-gnu
          # - x86_64-apple-darwin
          # - aarch64-apple-darwin
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            cargo-tool: cargo
          # - os: macos-13 # intel
          #   target: x86_64-apple-darwin
          #   cargo-tool: cargo
          # - os: macos-latest # aarch64
          #   target: aarch64-apple-darwin
          #   cargo-tool: cargo
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 50

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
          target: ${{ matrix.target }}
      
      - name: Setup Bencher
        uses: bencherdev/bencher@v0.5.9

      - name: Setup Hyperfine
        uses: blacha/hyperfine-action@v1

      - name: Run benchmarks
        working-directory: ./core
        run: make second_to_last_push_hash=${{ vars.SECOND_TO_LAST_PUSH_HASH }} bench
        env:
          BENCHER_API_TOKEN: ${{ secrets.BENCHER_API_TOKEN }}
      
      - name: Update SECOND_TO_LAST_PUSH_HASH variable
        run: |
            gh variable list
            gh variable set SECOND_TO_LAST_PUSH_HASH --body $(git rev-parse HEAD)
            gh variable list
        env:
          GH_TOKEN: ${{ secrets.REPO_VAR_PAT }}
  
  # test-windows:
  #   runs-on: windows-latest
  #   timeout-minutes: 10
  #   strategy:
  #     fail-fast: false
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4

  #     - name: Install Rust toolchain
  #       uses: dtolnay/rust-toolchain@stable
  #       with:
  #         toolchain: stable
  #         target: x86_64-pc-windows-gnu
      
  #     - name: Setup MSYS2
  #       uses: msys2/setup-msys2@v2
  #       with:
  #         update: true
  #         install: >-
  #           diffutils
  #           m4
  #           make
  #           mingw-w64-x86_64-gcc
      
  #     - name: Run tests
  #       shell: msys2 {0}
  #       working-directory: ./core
  #       run: make test

  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt
      
      - name: Check formatting
        working-directory: ./core
        run: make fmt

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: clippy

      - name: Run linter
        working-directory: ./core
        run: make lint
